<% content_for :title, "Edição de filme" %>

<h1>Edição de filme</h1>

<%= render "form", movie: @movie %>

<br>

<div>
  <%= link_to "Mostrar esse filme", @movie %> |
  <%= link_to "Voltar para filmes", movies_path %>
</div>
