<html lang="pt-BR">
  <%= render "home/head" %>
  <body>
    <!-- Conteudo -->
    <div class="container">
      <h2 class="text-center mb-4">Novo filme</h2>
      <%= render "form", movie: @movie %>
    </div>
  </body>
  <p style="color: green"><%= notice %></p>
</html>