<% content_for :title, "Edição de jogo" %>

<h1>Edição de jogo</h1>

<%= render "form", game: @game %>

<br>

<div>
  <%= link_to "Mostrar esse jogo", @game %> |
  <%= link_to "Voltar para jogos", games_path %>
</div>
