<% content_for :title, "Edição de série" %>

<h1>Edição de série</h1>

<%= render "form", serie: @serie %>

<br>

<div>
  <%= link_to "Mostrar essa série", @serie %> |
  <%= link_to "Voltar para séries", series_path %>
</div>
