<p style="color: green"><%= notice %></p>

<% content_for :title, "Series" %>

<h1>Series</h1>

<div id="series">
  <% @series.each do |serie| %>
    <%= render serie %>
    <p>
      <%= link_to "Show this serie", serie %>
    </p>
  <% end %>
</div>

<%= link_to "New serie", new_serie_path %>
