<p style="color: green"><%= notice %></p>

<% content_for :title, "Séries" %>

<h1>Séries</h1>

<div id="series">
  <% @series.each do |serie| %>
    <%= render serie %>
    <p>
      <%= link_to "Mostrar essa série", serie %>
    </p>
  <% end %>
</div>

<%= link_to "Nova série", new_serie_path %>
