<html lang="pt-BR">
  <%= render "home/head" %>
  <body>
    <!-- Conteudo -->
    <div class="container">
      <h2 class="text-center mb-4">Nova série</h2>
      <%= render "form", serie: @serie %>
    </div>
  </body>
  <p style="color: green"><%= notice %></p>
</html>